<div class="home-container">
    <div class="img-cropper">
        <img src="../../../assets/pexels-julia-volk-5273636.jpg"
            alt="Photo by Julia Volk from Pexels: https://www.pexels.com/photo/fresco-paintings-o-ceiling-in-cathedral-5273636/">
    </div>

    <h1>FindArt</h1>
    <h4>Upload a painting picture and we'll tell you the art movement period to which it belongs. As easy as that.</h4>
    <button class="arrow-button" [routerLink]="['/upload']">Start<span class="arrow"></span>
    </button>


</div>