<div class="home-container">
    <div class="img-cropper">
        <img src="../../../assets/pexels-julia-volk-5273636.jpg"
            alt="Photo by Julia Volk from Pexels: https://www.pexels.com/photo/fresco-paintings-o-ceiling-in-cathedral-5273636/">
    </div>

    <h1>FindArt</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus diam velit, sit amet luctus dui
        efficitur in. Donec sit amet justo lectus.</h4>
    <button class="arrow-button" [routerLink]="['/upload']">Start<span class="arrow"></span>
    </button>


</div>